@import 'skeleton.base.less';

// id based formatting
	#canvas {
		.box-shadow(~"0px 0px 1rem rgba(0,0,0,.2)");
		width: 65.714rem;
		margin: 0 auto;
		padding: 1.5rem 1rem 1rem 1.5rem;
		background-color: #fff;
	}

	#content {
		.gradient(~"linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, 0) 1rem)");
		.min-height(36rem);
		position: relative;
		padding: 3rem 0;
	}

// structural formatting
	header {
		margin-bottom: -0.071rem;
		border-bottom: 0.071rem solid #ccc;

		hgroup {
			text-align: right;

			svg {
				float: right;
				width: 3rem;
				height: 3rem;
				margin-left: 1rem;
			}
		}

		nav ul {
			.menu;
			margin-top: -0.286rem;

			li {
				border-top: 0.286rem solid transparent;

				&:hover, &.active {
					border-top: 0.286rem solid @color-delta;
				}
			}
		}
	}

	footer {
		.gradient(~"linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, 0) 1rem)");
		margin-top: -0.071rem;
		padding-top: 1rem;
		border-top: 0.071rem dotted #ccc;

		nav {
			ul {
				.menu;
				float: right;
			}
		}

		section {
			margin-bottom: 0;
			text-align: center;
			color: @color-alpha;
		}
	}