.menu() {
	.clearfix;
	zoom: 1;
	list-style: none outside none;
	margin: 0;
	padding: 0;

	li {
		float: left;

		a {
			text-decoration: none;
		}

		&.active {
			a, a:hover {
				color: @color-delta;
			}
		}
	}

	li + li {
		margin-left: 1rem;
	}
}

.clearfix() {
	overflow: hidden;

	&:after {
		content: ".";
		clear: both;
		display: block;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
		height: 0;
	}
}

.min-width(@width) {
	min-width: @width;
	width: auto !important;
	width: @width;
}

.min-height(@height) {
	min-height: @height;
	height: auto !important;
	height: @height;
}

.replace() {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}