html {
	font-size: @base-size;
	.rem('line-height', 21px);
}

hgroup, h1, h2, h3, h4, h5, h6, ul, ol, dl, fieldset, aside, p, table, pre, hr {
	.rem('margin-bottom', 21px);
}

form, article, section {
	.rem('margin-bottom', 21px);
}

hgroup {
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}
}

h1, .size-alpha {
	.rem('font-size', 20px);
}

h2, .size-beta {
	.rem('font-size', 19px);
}

h3, .size-gamma {
	.rem('font-size', 18px);
}

h4, .size-delta {
	.rem('font-size', 17px);
}

h5, .size-epsilon {
	.rem('font-size', 16px);
}

h6, .size-zeta {
	font-size: 14px;
	.rem('font-size', 15px);
}

.size-deci {
	.rem('font-size', 12px);
}