[submodule "main/js/qoopido-jquery"]
	path = main/js/qoopido-jquery
	url = https://dlueth@github.com/dlueth/Qoopido-jQuery.git
[submodule ".core/libraries/smarty"]
	path = .core/libraries/smarty
	url = git://github.com/cebe/smarty.git
[submodule ".core/libraries/dwoo"]
	path = .core/libraries/dwoo
	url = git://github.com/Seldaek/Dwoo.git
[submodule "main/css/lesshat"]
	path = main/css/lesshat
	url = git://github.com/CSSHat/LESSHat.git
[submodule "main/css/normalize"]
	path = main/css/normalize
	url = git://github.com/necolas/normalize.css.git
